* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEEEEE;
    color: #686D76;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #DC5F00;
    font-weight: 500;
    font-size: 2.4em;
}

h1 span {
    margin-right: 2px;
    font-weight: 800;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    border-bottom: 1px solid #C7C8CC;
    margin-bottom: 48px;
}

header .container {
    padding: 24px 0;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header li {
    list-style-type: none;
    display: inline;
    margin-left: 8px;
}

header li a {
    color: #686D76;
    text-decoration: none;
}
header li a:hover {
    border-bottom: solid 1px #DC5F00;
}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    column-gap: 32px;
}

section {
    margin-bottom: 96px;
}

.me {
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}

section h2 {
    color: #686D76;
    font-size: 1.5em;
    font-weight: bold;

    margin-bottom: 8px;

    width: 100%;
    display: flex;
    align-items: center;
}

section h2::after {
    margin-left: 8px;
    content: '';
    border-bottom: 4px dotted #DC5F00;
    flex: 1;
}

h1, h2 {
    font-family: "Expletus Sans", sans-serif;;
}

#aboutme p {
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 1em;
}

.skill-list li {
    list-style-type: none;
    display: inline-block;

    font-size: 0.9em;
    margin-bottom: 4px;
    padding: 4px 8px;

    background-color: #B4B4B8;
    border-radius: 12px;
}

.skill-list li:hover {
    background-color: #C7C8CC;
}

.social-network li {
    list-style-type: none;
    display: inline;
}

.social-network img {
    width: 48px;
    filter: grayscale(100%);
}
.social-network img:hover {
    filter: grayscale(0%);
}

form input, form textarea, form button {
    display: block;
    width: 350px;
    padding: 8px;

    margin-bottom: 16px;

    background-color: #C7C8CC;
    border: none;
}

form input, form textarea {
    color: #686D76;
}

.required, button {
    color: #DC5F00;
}

button {
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #B4B4B8;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    resize: vertical;
}

label, form {
    font-size: 1em;
}

footer {
    padding: 8px;
    background-color: #686D76;
    color: #B4B4B8
}

footer p {
    text-align: center;
}